<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby20

expression = STDIN.read.gsub(/(-?\d+)e(-?\d+)/i, '(\1*10^\2)')
result = open('|/usr/bin/bc -l', 'w+') do |io|
  io.write(expression.tr(',', '') + "\n")
  io.close_write
  io.read
end
STDOUT &lt;&lt; " = " &lt;&lt; result.chomp.sub(/(\.[0-9]*[^0]+)0+$|\.0+$/, '\1')
</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^C</string>
	<key>name</key>
	<string>Evaluate Line / Selection</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>afterInput</string>
	<key>uuid</key>
	<string>93A395CC-77E8-11D9-B5A8-000D93589AF6</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
